.sidebar{
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	width: 220px;
	background: #ecf0f1;
	//padding: 20px;
	

	.title{
		background: #2c3e50;
		color: #445e77;
		padding: 10px 20px;
		text-align: left;
		.logo{
			font-size: 50px;
			display: inline-block;
			vertical-align: middle;
			margin-right: 10px;
		}
		span{
			display: inline-block;
			vertical-align: middle;
			font-weight: 500;
		}
	}

	.buttons{
		padding: 20px;
		.item-sidebar{
			margin-bottom: 10px;
		}
	}


}
